<div class="nav__section">
    <div class="nav__section--item">
        <LinkTo @route="books">
            Books
        </LinkTo>
    </div>
    <div class="nav__section--item">
        <LinkTo @route="users">
            Users
        </LinkTo>
    </div>
</div>





{{outlet}}
